@use "./variables" as a;

// --------------MAIN CONFIG
html { 
  background-color: a.$web-background-color;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    color: white;
}

.page__title{
  font-size: 4em;
  text-shadow: 0.1em 0.1em 0 a.$main-black;
  border-bottom: 1px gray solid;
}

::-webkit-scrollbar {
  width: 0.4em;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: a.$main-black;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: a.$web-background-color;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  border: 1px solid a.$main-black;
}

// -------------- RESET

a{
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

h1 {
  font-size: 2em;
}
 
p {
   font-size: 0.8em;
   margin: 0;
   padding: 0;
}

svg{
  margin: 0;
  padding: 0;
}

.dropdown-toggle::after {
  content: none;
}

.show > .btn-primary.dropdown-toggle {
  background-color: transparent;
}
  