
// ------------------COLORS

$web-background-color: #4d4d4d;
$main-black: #2e2e2e;
$fb-blue: #1877f2;
$gg-green: #34a853;
$brand-color: #bf58ca;
$hover-white-transparent: rgba(255, 255, 255, 0.24);
$border-color: rgba(145, 145, 145, 0.5) inset 1px;







